<a href="https://colab.research.google.com/github/oocheol/This_is_Code-test/blob/main/Python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#리스트 컴프리헨션

array = []
for i in range(20) :
  if i % 2 == 1 :
    array.append(i)
print(array)
print("1111")

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
1111

In [ ]:
#문자열 반복시에는 x를 _로 생략가능

for x in range(3) :
  print("Hello")

print() #구분

for _ in range(3) :
  print("Hello")

Hello
Hello
Hello

Hello
Hello
Hello

In [ ]:
def aaa(x) :
  return x * 3

aaa(4)
aaa(5)     #함수 return 사용시 맨 마지막 함수만 출력

15

In [ ]:
def bbb(x) : print(x * 3)

bbb(3)
bbb(5) #함수 print 사용시 모든 함수 출력

9
15

In [ ]:
score = 95

if score >= 85 : print("good")     #조건문 한줄로 만들기
else : print("Fail")

good

In [ ]:
#리스트 한줄 조건문

a = [1, 2, 2, 3, 4, 5 ,5 , 5]
r_a = [2, 5]

result = [i for i in a if i not in r_a]

print(result)

[1, 3, 4]

In [ ]:
print((lambda a, b : a * b)(3,4))   # lambda를 사용하여 add함수 한줄로 표현

12

In [ ]:
# 입력을 위한 전형적인 소스코드
# 데이터 개수 입력

n = int(input())

# 각 데이터를 공백으로 구분하여 입력

data = list(map(int, input("숫자입력(공백으로 구분) : ").split()))

data.sort(reverse = True)
print(data)

3
숫자입력(공백으로 구분) : 22 55 32
[55, 32, 22]

In [ ]:
# 공백을 기준으로 구분하여 적은 수의 데이터 입력

n, m, k = map(int, input("숫자입력(공백으로 구분) : ").split())

print(n, m, k)

숫자입력(공백으로 구분) : 2 7 14
2 7 14

In [ ]:
# readline() 사용 소스코드 예시

import sys

# 문자열 입력받기

data = sys.stdin.readline().rstrip()
print(data)

##??? 아무일도 일어나지 않았다..

In [ ]:
# eval("xxx") : 수학수식이 문자열 형식으로 들어올 때 해당 수식을 계산한 결과 반환

result = eval("(3 + 5) * 7")
print(result)

56

In [ ]:
#itertools 연습1 (permutations)
from itertools import permutations

data = ['A', 'B', 'C']

result = list(permutations(data, 3)) # 모든 순열 구하기

print(result)

[('A', 'B', 'C'), ('A', 'C', 'B'), ('B', 'A', 'C'), ('B', 'C', 'A'), ('C', 'A', 'B'), ('C', 'B', 'A')]

In [ ]:
#itertools 연습2 (combinations)
from itertools import combinations

data = ['A', 'B', 'C']

result = list(combinations(data, 2)) # 2개를 뽑는 모든 조합 구하기

print(result)

[('A', 'B'), ('A', 'C'), ('B', 'C')]

In [ ]:
#itertools 연습3 (product)
from itertools import product

data = ['A', 'B', 'C']

result = list(product(data, repeat = 2)) # 2개를 뽑는 모든 순열 구하기 (중복허용)

print(result)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'A'), ('B', 'B'), ('B', 'C'), ('C', 'A'), ('C', 'B'), ('C', 'C')]

In [ ]:
#heapq (힙)

import heapq

def heapsort(iterable) :
  h = []
  result = []
  # 모든 원소를 차례대로 힙에 삽입
  for value in iterable :
    heapq.heappush(h, value)
  # 힙에 삽입된 모든 원소를 차례대로 꺼내어 담기
  for i in range(len(h)) :
    result.append(heapq.heappop(h))
  return result

result = heapsort([1, 3, 5, 7 ,9, 2, 4, 6, 8, 0])
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#heapq (힙) - 최대 힙

import heapq

def heapsort(iterable) :
  h = []
  result = []
  # 모든 원소를 차례대로 힙에 삽입
  for value in iterable :
    heapq.heappush(h, -value)
  # 힙에 삽입된 모든 원소를 차례대로 꺼내어 담기
  for i in range(len(h)) :
    result.append(-heapq.heappop(h))
  return result

result = heapsort([1, 3, 5, 7 ,9, 2, 4, 6, 8, 0])
print(result)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [1]:
a = ['a','b','c']
print(a)
def y(x) :
  return x[0]

print(y(a))
display(y(a))

['a', 'b', 'c']
a

'a'