<a href="https://colab.research.google.com/github/oocheol/This_is_Code-test/blob/main/Python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#리스트 컴프리헨션

array = []
for i in range(20) :
  if i % 2 == 1 :
    array.append(i)
print(array)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
#문자열 반복시에는 x를 _로 생략가능

for x in range(3) :
  print("Hello")

print() #구분

for _ in range(3) :
  print("Hello")

Hello
Hello
Hello
Hello
Hello

Hello
Hello
Hello
Hello
Hello

In [10]:
def aaa(x) :
  return x * 3

aaa(4)
aaa(5)     #함수 return 사용시 맨 마지막 함수만 출력

15

In [11]:
def bbb(x) : print(x * 3)

bbb(3)
bbb(5) #함수 print 사용시 모든 함수 출력

9
15

In [8]:
score = 95

if score >= 85 : print("good")     #조건문 한줄로 만들기
else : print("Fail")

good

In [13]:
#리스트 한줄 조건문

a = [1, 2, 2, 3, 4, 5 ,5 , 5]
r_a = [2, 5]

result = [i for i in a if i not in r_a]

print(result)

[1, 3, 4]